<!-- pour administrateur -->
		<!-- formulaire pour creer les evenements -->

<div class="title_page">
  <h1>&Eacute;v&eacute;nements</h1>
</div>

<div class="form_page">
  <form action="evenement_admin.php" method="post" class="event">
  	
    <input type="text" name="titre" size="50" placeholder="Titre de l'événement"/>
    <br/>

    <input size="20" type="date" name="date" placeholder="Date"/>
    <input size="20" type="time" name="heure" placeholder="Heure"/>

    <br/>
    <input type="text" name="lieu" size="50" placeholder="Lieu"/>
    <br/>
    <input type="text" name="description" size="50"  placeholder="Description de l'événement"/></li>
    <br/>

    <input type="submit" value="Valider"/>

  </form>
</div>   

		<!-- pour membres-->
		<!-- afficher les evenements creer par administrateur -->