
	<div class="footer-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="social">
						Nous suivre : <a href="https://www.facebook.com/association.chifaa/" target="_blank">
						<i class="fa fa-facebook fa-2x"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="copyright">
			&copy; Copyright | Chifaa
		</div>
		<div class="footer-menu">
			<ul>
				<li><a href="#">Mention l&eacute;gales</a></li>
				<li><a href="#">A propos</a></li>
				<li><a href="#">Plan du site</a></li>
				<li><a href="#page">Haut de page</a></li>
			</ul>
		</div>
	</div>
