<head>
		<title>Chifaa</title>
		<meta charset="UTF-8">
		<link href="templates/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
		<link href="templates/css/style.css" rel="stylesheet" type="text/css" media="all" />
		<link rel="icon" type="image/png" href="images/favicon.png" />

		<!-- Gogle Fonts : Family Open Sans -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="template/css/font-awesome.min.css">
		<!-- jQuery Library -->
		
</head>
