<div class="navigation">

			<div class="logo">
				<a href="index.php"><img src="images/logo2.png" alt="Chifaa"></a>
	    	 </div>

	    	 <div class="menu">
	    	 	<div class="dropdown">
				  <a href="index.php">PRÉSENTATION</a>
				  <div class="dropdown-content">
				      <a href="#principe">Principe</a>
				      <a href="#Valeurs">Valeurs</a>
				      <a href="#Nos actions">Nos actions</a>
				      <a href="#Qui sommes-nous?">Qui sommes-nous ?</a>
				  </div>
				</div>

				<div class="dropdown">
					<a href="#">AIDEZ-NOUS</a>
					<div class="dropdown-content">
						<a href="Visite.php">Prévoir une visite</a>
						<a href="Inscription.php">Devenir bénévole</a>
						</div>
				</div>
				       	
				<a href="contact.php">CONTACT</a>
				<a href="partenaire.html">PARTENAIRES</a>

	    	 </div>
            
</div>