<!-- <img src="logo.jpg" width="50" height="50">
<div class="dropdown">
  <button class="dropbtn">PRÉSENTATION</button>
  <div class="dropdown-content">
      <a>Principe</a>
      <a>Valeurs</a>
      <a>Nos actions</a>
      <a>Qui sommes-nous ?</a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">AIDEZ-NOUS</button>
  <div class="dropdown-content">
    <a>Prévoir une visite</a>
    <a>Devenir bénévole</a>
    </div>
</div>
        
<a href="contact.php">CONTACT</a>
<a>PARTENAIRES</a>-->

<div class="logo">
        <a href="index.html"><img src="images/logo2.png" alt="Chifaa"></a>
</div>

<div class="menu">
  <div class="dropdown">
    <a href="#">PRÉSENTATION</a>
    <div class="dropdown-content">
        <a href="#">Principe</a>
        <a href="#">Valeurs</a>
        <a href="#">Nos actions</a>
        <a href="#">Qui sommes-nous ?</a>
    </div>
  </div>

  <div class="dropdown">
    <a href="#">AIDEZ-NOUS</a>
    <div class="dropdown-content">
      <a href="#">Prévoir une visite</a>
      <a href="#">Devenir bénévole</a>
    </div>
  </div>
                
  <a href="contact.php">CONTACT</a>
  <a href="#">PARTENAIRES</a>
</div>