{%extends "::base.html.twig"%}
{% block body %}
    
    <br/>
    <br/>
    <br/>
    <br/>
 <div class="container">
            <!--Contact-->
            <h1>Contact</h1>
            <!--Adress-->
            <adress>
                Association CHIFAA<br/>
                <br/>
                4 Rue Victor Considerant<br/>
                69150 D&eacute;cines-Charpieu<br/>
                Lyon France<br/>
            </adress>
            <!--Tel-->
            <p>Tél : 06 15 74 89 37</p>
            
            <div id="map"></div>
                <script>
                    function initMap() {
                      var uluru = {lat: 45.774808, lng: 4.956233};
                      var map = new google.maps.Map(document.getElementById('map'), {
                        zoom: 17,
                        center: uluru
                      });
                      var marker = new google.maps.Marker({
                        position: uluru,
                        map: map
                      });
                    }
 </script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9bMXs_ExyQdIIBEjRzs2uK_gmDJ4Qgwk&callback=initMap">
</script>
 </div>  
 
<div class="container col-md-offset-4">
        <form  action="" method="POST" enctype="multipart/form-data">
            <div class="form-group ">
                 <label for="name">  Nom et pr&eacute;nom:</label>
                 <input type="text" class="form-control" id="name" placeholder="Nom et prénom" name="name" style = "width:400px"> 
            </div>
            
            <div class="form-group ">
                 <label for="mail"> Email :</label>
                 <input type="mail" class="form-control" id="mail" placeholder="Adesse Mail" name="mail" style = "width:400px"> 
            </div>
            <div class="form-group ">
                 <label for="msg"> Votre message :</label>
                 <textarea type="text" class="form-control" id="msg" placeholder="Rédiger un méssage" name="msg" style = "width:600px"> </textarea>
            </div>
              <input type="submit" class="btn btn-info" value="Envoyer">
          
        </form>

</div>      
  
{% endblock %}
{% block javascript %}
  
{% endblock %}
    