<script src='https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyDPDhZWHvio3QsJ2WMxB1FFVzQ4K7aOURc'></script>

<div style='overflow:hidden;height:250px;width:420px;'><div id='gmap_canvas' style='height:250px;width:420px;'></div>
<style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
</div> 
<a href='http://mapswebsite.net/fr'>http://mapswebsite.net/fr</a> 
<script type='text/javascript' src='https://embedmaps.com/google-maps-authorization/script.js?id=43bf24a08bc5df980faa53d659716905d9f715d8'></script>
<script type='text/javascript'>function init_map(){var myOptions = {zoom:17,center:new google.maps.LatLng(45.774808,4.956233),mapTypeId: google.maps.MapTypeId.TERRAIN};map = new google.maps.Map(document.getElementById('gmap_canvas'), myOptions);marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(45.774808,4.956233)});infowindow = new google.maps.InfoWindow({content:'<strong>Chifaa</strong><br>4 Rue Victor Considerant<br>69150 D&eacute;cines-Charpieu<br>'});google.maps.event.addListener(marker, 'click', function(){infowindow.open(map,marker);});infowindow.open(map,marker);}google.maps.event.addDomListener(window, 'load', init_map);</script>