<div class="banner-content">
			<h1>Chifaa</h1>
			<h2>Association Humanitaire</h2>
</div>

<script type="text/javascript">
$(function() {
  var banner = $('.banner');
  var backgrounds = ['url(images/bg.jpg)','url(images/bg.jpg)','url(images/bg.jpg)'];
  var current = 0; // Index image courrante // background[0] = images/image1.pn 0 => 2

function nextBackground() {
  // .css('parametre', 'valeur')
  banner.css(
   'background',
    backgrounds[current = ++current % backgrounds.length]+' no-repeat' // background : url(images/image1.png) no-repeat;
 );

 banner.css('background-size', 'cover');

 setTimeout(nextBackground, 5000);
 }


 setTimeout(nextBackground, 5000); // 5s

   banner.css('background', backgrounds[0]+' no-repeat');
   banner.css('background-size', 'cover');

 });

	$(function() {
	$('.navigation').css('background','transparent');
	$('.banner-content h1').fadeIn(3000);
	$('.banner-content h2').fadeIn(4000);
	});

$(window).scroll(function() {
		var s = ($(window).scrollTop() / $(document).height())*10;
	if (s > 0.7) {
		$('.navigation').css('background','rgba(255,255,255, '+ s +')');
		$('.menu a').css('color','black');
		$('.login a').css('color','black');
		$('.logo img').attr('src','images/logo2.png');
	} else {
		$('.navigation').css('background','transparent');
		$('.menu a').css('color','white');
		$('.login a').css('color','white');
		$('.dropdown-content a').css('color','black');
		$('.logo img').attr('src','images/logo.png');
	}
});
</script>
