<!-- pour administrateur -->
		<!-- formulaire pour creer les evenements -->

<div style="padding-top: 6em; padding-left: 6em;color: black; font-family:'Open Sans', sans-serif;font-size: 1.3em">
  <h1>&Eacute;v&eacute;nements</h1>
</div>

<form action="evenement_admin.php" method="post" class="event" style="line-height:4.2em;text-align: center;padding-top: 0;">
	
  <input type="text" style="border: 2px solid #ccc;padding: 7px 20px 7px;font-size:1.3em;" name="titre" size="50" placeholder="Titre de l'événement"/>
  <br/>

  <input style="border: 2px solid #ccc;padding: 7px 20px 7px;font-size:1.3em;" size="20" type="date" name="date" placeholder="Date"/>
  <input style="border: 2px solid #ccc;padding: 7px 20px 7px;font-size:1.3em;" size="20" type="time" name="heure" placeholder="Heure"/>

  <br/>
  <input type="text" style="border: 2px solid #ccc;padding: 7px 20px 7px;font-size:1.3em;" name="lieu" size="50" placeholder="Lieu"/>
  <br/>
  <input type="text" style="border: 2px solid #ccc;padding: 7px 20px 7px;font-size:1.3em;" name="description" size="50"  placeholder="Description de l'événement"/></li>
  <br/>

  <input type="submit" value="Valider"/>

</form>   

		<!-- pour membres-->
		<!-- afficher les evenements creer par administrateur -->