<div id="top"></div>
<div class="navigation clearfix">
	<div class="logo">
	    <a href="index.php"><img src="images/logo.png" alt="Chifaa"></a>
	</div>
	<div class="menu">
		<div class="dropdown">
			<a href="index.php">PRÉSENTATION</a>
			 <div class="dropdown-content">
			    <a href="index.php#principe">Principe</a>
			    <a href="index.php#Valeurs">Valeurs</a>
			    <a href="index.php#actions">Nos actions</a>
			    <a href="index.php#who">Qui sommes-nous ?</a>
			</div>
		</div>
		<div class="dropdown">
			<a href="#">NOUS AIDER</a>
			<div class="dropdown-content">
				<a href="Visite.php">Prévoir une visite</a>
				<a href="Inscription.php">Devenir bénévole</a>
			</div>
		</div>
		<span><a href="contact.php">CONTACT</a></span>
		<span><a href="partenaire.php">PARTENAIRES</a></span>
	</div>

	<div class="login">
		<a href="connexion.php">Se Connecter</a><a> / </a><a href="Inscription.php">S'inscrire</a> &nbsp;<a><i class="fa fa-user"></i></a>
	</div>
</div>
